@page "/cthulhu"
@rendermode InteractiveServer

<PageTitle>Cthulhu.com</PageTitle>

<h1>Bienvenido a una página para Cthulhu</h1>

<p>Este es un pequeño parrafo para la siguiente imagen</p>

<img src="https://ih1.redbubble.net/image.4644267357.6443/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg" alt="Imagen de la obra Kawaii Cthulhu | Criatura de Lovecraft | lindo cthulhu, diseñada y vendida por PandorasBoxy"/>